<div class="container">
  <h1 class="my-4 text-center"><%= @tournament.name %></h1>

  <% if @tournament.name.include?("Alli") %>
    <div class="text-center mb-4">
      <%= link_to 'Allis Only', tournament_path(@tournament, query: "allis"), class: 'btn btn-primary mr-3' %>
      <%= link_to 'Tous', tournament_path(@tournament), class: 'btn btn-primary' %>
    </div>
  <% end %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center" scope="col">Nom</th>
        <th class="text-center" scope="col"><%= sortable("Part°", "bets", params[:query]) %></th>
        <th class="text-center" scope="col"><%= sortable("Pos° moy", "average_position", params[:query]) %></th>
        <th class="text-center" scope="col"><%= sortable("Re-entries", "reentries", params[:query]) %></th>
        <th class="text-center" scope="col"><%= sortable("Mises", "bets", params[:query]) %></th>
        <th class="text-center" scope="col"><%= sortable("Gains", "earnings", params[:query]) %></th>
        <th class="text-center" scope="col"><%= sortable("Gains nets", "net_earnings", params[:query]) %></th>
        <th class="text-center" scope="col"><%= sortable("Gains par part°", "earnings_by_game", params[:query]) %></th>
      </tr>
    </thead>
    <tbody>
      <% @stats.each do |stat| %>
        <tr>
          <td class=""><%= stat.player.name %></td>
          <td class="text-center"><%= stat.games.to_i %></td>
          <td class="text-center"><%= number_with_precision(stat.average_position, precision: 2) %></td>
          <td class="text-center"><%= stat.reentries.to_i %></td>
          <td class="text-center"><%= number_to_currency(stat.bets.round(2), precision: 2) %></td>
          <td class="text-center"><%= number_to_currency(stat.earnings.round(2), precision: 2) %></td>
          <td class="text-center"><%= number_to_currency(stat.net_earnings.round(2), precision: 2) %></td>
          <td class="text-center"><%= number_to_currency(stat.earnings_by_game.round(2), precision: 2) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
